:root {
    --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.main{
    display: block;
    width: 100vw;
    height: 100vh;
    background: var(--background);
}

.logo-img{
    margin: 20px;
    padding: 20px
}

h1{
    font-weight: 700;
    color: var(--text-title);
    font-size: 2rem;
    
}
h1::before {
    content: url(./images/log-in.svg)
}

.lateral-img{
    float: right;
    background-image: url(./images/side-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    width: 50vw;
    height: 100vh;
}


.fieldset-container{
    width: 560px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 120px;
    background-color: var(--form-background);
    border: none;
    border-radius: 5px;
}
form{
    display: flex;
}

.flex-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.informations{
    margin-top:28px
}


#email, #password{
    color: white;
    width: 340px;
    align-self: center;
    padding: 8px;
    background-color: var(--form-background);
    border:  1px solid var(--text-base);
    border-radius:5px;
    margin-top: 8px
}

#email:focus{
    outline: none;
    border: 1px solid var(--primary-color) 
}

#password:focus{
    outline: none;
    border: 1px solid var(--primary-color) 
}



p{
    font-weight: 500;
    font-size: 16px;
    color: var(--text-base);
}

label{
    font-size: 0.90rem;
    font-weight: bold;
    color: var(--text-base);
}

a{
    color: var(--primary-color)
}

#remember{
    opacity: 0;
    position: relative;
    left: 20px;
}

#check-box{
    margin-right: 20px;
   
}

#check{
    margin-right: 70px;
}


#remember + #check::before {
    content: " ";
    height: 18px;
    width: 18px;
    background-color: var(--background);
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    margin-bottom: 2px;
    
}

#remember:checked + #check::before{
    background-color: var(--primary-color);
    content: url(./images/check.svg);
    
}

button{
    padding: 15px;
    background-color: var(--primary-color);
    width: 340px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 0.1s;
    cursor: pointer;
}

.new-account{
    font-size: 0.75rem;
    margin-top: -10px;
    cursor: default;

}

a{
    font-weight: bold;
    font-size: 0.75rem;
}

